.titlebar { height: 5px; }

.guild-header header {
	height: 46px;
	font-size: 15px;
	padding: 0 18px;
}

.guild-header header span { line-height: 46px; }

.guild-header header button { margin-top: -2px; }

.guild-header ul {
	top: 46px;
	padding: 3px 0;
}

.guild-header ul a {
	margin: 5px 6px;
	padding: 8px 11px;
	opacity: .5;
}

.guild-header ul a.red-highlight {
	color: #FF3E3E;
	opacity: .9;
}

.guild-channels { padding: 10px 0; }

.guild-channels header h2 {
	font-size: 14px;
	opacity: .4;
	text-align: center;
	padding: 0;
	padding-right: 10px;
	padding-top: 10px;
}

.guild-channels ul+header { margin-top: 0; }

.guild-channels ul { padding-left: 0; }

.guild-channels ul .channel { line-height: 1rem; }

.guild-channels .toggle-muted-text-channels { padding-left: 20px; }

.guild-channels ul .channel-voice { padding: 4px 6px 8px 20px; }

.guild-channels ul .channel-voice-states {
	margin-top: 5px;
	padding-left: 10px;
}

.guild-channels ul .channel-voice-states li .avatar-small { border-radius: 30%; }

.account { height: 50px; }

.account .account-details { padding: 0 7px; }

.account .account-details .username { max-width: 85px; }

.account .btn { width: 28px; }

.win-buttons {
	top: 8px;
	right: 18px;
}

.chat>.title-wrap {
	padding: 4px 20px;
	min-height: 47px;
}

.theme-dark .chat .title-wrap .topic { color: #979C9E; }

.theme-dark .topic-preview .hljs,
.theme-dark .scroller .hljs {
	background: rgba(29, 29, 29, 0.45);
	border-radius: 5px;
	padding: .3em;
}

.chat>.title-wrap>.topic .scroller-wrap { max-height: 250px; }

.channel-members { padding: 10px 0; }

.channel-members h2 {
	font-size: 14px;
	text-align: center;
}

.channel-members .member+h2 { margin: 15px 0; }

.theme-dark .channel-members h2 { color: hsla(0,0%,100%,.8); }

.channel-members .member {
	padding: 5px 20px;
	font-weight: 500;
	padding-right: 5px;
}

.channel-members .member .member-inner { width: 155px; }

.theme-dark .channel-members h2 { color: hsla(0,0%,100%,.6); }

.avatar-small { border-radius: 10px; }

.message-group { padding: 15px 0; }

.avatar-large { border-radius: 10px; }

.message-group h2 strong { font-weight: 500; }

.message-group h2 .timestamp { font-size: 14px; }

.theme-dark .friends-table .messages .mentioned .message-text, .theme-dark .messages-wrapper .messages .mentioned .message-text { background: rgba(79, 176, 232, 0.1); }

.message-group .mentioned .message-text:after {
	background: rgba(53, 163, 216, 0.2);
	border-left: 4px solid #3487CE;
}

.guilds li.unread .guild-inner:before { background: #ADB2B9; }

.private-channels .channel.btn-friends { margin-bottom: 10px; }

.private-channels .channel .channel-name { opacity: .5; }

.private-channels header {
	opacity: .7;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.private-channels .channel a { height: 40px; }

#user-profile-modal {
	width: 480px;
	height: 640px;
}

#user-profile-modal .header .username .name { max-width: 200px; }

#user-profile-modal .header .username .discriminator {
	font-size: 18px;
	color: hsla(0,0%,100%,.6);
}

#user-profile-modal .header .game {
	color: hsla(0,0%,100%,.6);
}

#user-profile-modal .avatar-profile {
	left: 16px;
	top: 30px;
}

.avatar-profile { border-radius: 25%; }

#user-profile-modal .avatar-profile .status {
	bottom: -6px;
	right: -8px;
}

#user-profile-modal .sub-header {
	height: 80px;
	padding: 10px 25px 0 168px;
}

#user-profile-modal .btn { width: 295px; }

#user-profile-modal .guilds .guild { padding: 3px 20px; }

#user-profile-modal .guilds .guild .discriminator {
	padding-left: 5px;
	font-size: 14px;
}

.context-menu { margin-left: 20px; }

.theme-dark .friends-table .messages .message-group .comment .edited, .theme-dark .messages-wrapper .messages .message-group .comment .edited { color: hsla(0,0%,100%,.3); }

#user-profile-modal { border-radius: 5px; }

.channel-notification-settings .content { height: 45px; }

.avatar-uploader .avatar-uploader-inner { border-radius: 25%; }

.user-settings-modal-keybinds .user-settings-modal-keybinds-list .keybind+.keybind { padding: 15px 0 0; }

.form .control-groups.control-separator {
	margin-top: 20px;
	padding-top: 20px;
}

.instant-invites .instant-invites-list .instant-invite { height: 50px; }

.settings .settings-inner .settings-panel-header {
	padding-bottom: 20px;
	padding-top: 20px;
}

.guild-settings-modal-members .guild-settings-modal-list .member .avatar-small { margin: 10px 20px 10px 0; }

#settings-roles .roles li {
	line-height: 29px;
	min-height: 29px;
	padding: 0 29px;
}

.form .control-groups+.control-group, .form .control-groups+.control-groups { margin-top: 5px; }

#settings-roles .selected-role .control-group { margin-bottom: 0; }

.settings .settings-actions { padding: 12px 40px; }
